/* style.css */

/* Body styling */
.profile-container {
    width: 800px;
    margin: auto;
    font-family: Arial, sans-serif;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

body {
    background-color: #f4f6f8;
    font-family: Arial, sans-serif;
    margin: 20px;
}

/* Main header */
h1 {
    color: rgb(16, 16, 58);
    text-align: center;
}

/* Subheadings */
h2 {
    margin-top: 30px;
    color: #000000;
    border-bottom: 1px solid gray; /* fixed missing width */
    padding-bottom: 5px;
}

/* Paragraphs */
p {
    font-size: 18px;
    line-height: 1.6;
}

/* Links */
a {
    text-decoration: none;
    color: #286fd8;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Images */
img {
    max-width: 200px;   /* control size */
    height: auto;
    border-radius: 50%; /* circular image */
    display: block;
    margin: 10px auto; /* center the image */
    transition: transform 0.3s, box-shadow 0.3s;
}

img:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3); /* subtle shadow on hover */
}

/* Lists */
ul {
    font-size: 17px;
}

/* Button-style link */
/* Google-style button */
a.btn {
    display: inline-block;
    padding: 10px 20px;
    background: radial-gradient(
        45deg, 
        #4285F4, /* blue */
        #EA4335, /* red */
        #FBBC05, /* yellow */
        #34A853  /* green */
    );
    color: rgb(0, 0, 0);
    border-radius: 5px;
    text-decoration: none;
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 10px 0;
    font-weight: bold;
    text-align: center;
}

a.btn:hover {
    color: #286fd8;
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

a.gitlink {
    display: inline-block;
    padding: 10px 20px;
    color: #286fd8;
    border-radius: 5px;
    
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    
    text-align: center;
}

a.gitlink:hover {
    color: #0a0a0a;
    font-weight: bold;
    text-decoration: underline;
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

a.linkedIn {
    display: inline-block;
    padding: 10px 20px;
    color: #286fd8;
    border-radius: 5px;
    
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;

}
a.linkedIn:hover{
    font-weight: bold;
    color: #2e47b8;
    transform: scale(1.05);
    text-decoration: underline;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

    p{
        font-size: 18px;
    }

    ul {
        font-size: 17px;

    }

    .navbar {
    background-color: #1f2937;
    padding: 12px 20px;
    border-radius: 8px;
    margin-bottom: 20px;

    display: flex;
    justify-content: center;
    gap: 25px;
}

.navbar a {
    color: #ffffff;
    margin-right: 20px;
    font-weight: 600;
    transition: transform 0.3s, color 0.3s;
}

.navbar a:hover {

    color: #006aec;
    transform: scale(1.2);
}