/* style.css */
        body {
            background-color: #83c0d2;
            font-family: Arial, sans-serif;
        }

        h1 {
            color: rgb(16, 16, 58);
            text-align: center;
        }

        h2{
            color: #000000;
            border-bottom: px solid gray;
            }

        p{
            font-size: 18px;
            line-height: 1.6;
            }

        a{
            color: rgb(61, 61, 152);
            text-decoration: none;
            }

            a:hover{
            text-decoration: underline;
            text-decoration-style: solid;
            }
        img {
            
            border-radius: 50%;
            /* Make images responsive and add border radius */

            max-width: 100%; /* image scales with container */
            height: auto;
            border-radius: 10px; /* rounded corners */
            transition: transform 0.3s; /* smooth effect on hover */
            }

       
            img:hover {
            transform: scale(1.05); /* slightly enlarge on hover */
            }
       